services:
    # Modelo contendor para un servidor kea
    # kea:
    #   build: ./kea
    #   container_name: kea
    #   networks:
    #     dhcp_lab:
    #       ipv4_address: 192.168.10.2
    #   cap_add:
    #     - NET_ADMIN
    #   restart: unless-stopped

    # Router
    router:
        build: ./router
        container_name: router
        hostname: router
        depends_on:
            - arya
        networks:
            dhcp_lab:
                ipv4_address: 192.168.10.5
            red-lannister:
                ipv4_address: 192.168.11.5
            red-vbox:
                ipv4_address: 192.168.54.5
            wan:
                ipv4_address: 192.0.2.5
        cap_add:
            - NET_ADMIN

    # Servidores DHCP
    ned:
        build: ./kea
        container_name: ned
        hostname: ned
        depends_on:
            - arya
        networks:
            dhcp_lab:
                ipv4_address: 192.168.10.254
        dns: 192.168.10.252
        cap_add:
            - NET_ADMIN
        entrypoint: [ "/tmp/entrypoint.sh" ]
        volumes:
            - ./kea/kea-dhcp4.conf.jsonc:/etc/kea/kea-dhcp4.conf
            - ./kea/kea-dhcp-ddns.conf.jsonc:/etc/kea/kea-dhcp-ddns.conf
            - ./ned/entrypoint.sh:/tmp/entrypoint.sh
            - ned_logs:/var/log/kea/
        # restart: unless-stopped
        restart: on-failure

    # robb:
    #   build: ./kea
    #   container_name: robb
    #   hostname: robb
    #   networks:
    #     dhcp_lab:
    #       ipv4_address: 192.168.10.253
    #   dns: 192.168.10.252
    #   cap_add:
    #     - NET_ADMIN
    #   restart: unless-stopped
    #   entrypoint: [ "/tmp/entrypoint.sh" ]
    #   volumes:
    #     - ./kea/kea-dhcp4.conf.jsonc:/etc/kea/kea-dhcp4.conf
    #     - ./kea/kea-dhcp-ddns.conf.jsonc:/etc/kea/kea-dhcp-ddns.conf
    #     - ./ned/entrypoint.sh:/tmp/entrypoint.sh

    # Servidor DNS
    arya:
        build: ./bind
        container_name: arya
        hostname: arya
        networks:
            dhcp_lab:
                ipv4_address: 192.168.10.252
        dns: 127.0.0.1
        command: [ "-4", "-g" ]
        volumes:
            - ./arya/named.conf.options:/etc/bind/named.conf.options
            - ./arya/named.conf.local:/etc/bind/named.conf.local
            - ./arya/zones:/var/cache/bind/zonas/
        restart: unless-stopped

    # Clientes DHCP
    bran:
        build: ./cliente
        container_name: bran
        hostname: bran
        networks:
            dhcp_lab:
                ipv4_address: 192.168.10.11
                mac_address: 6c:0b:5e:02:3f:5b
        # dns: 192.168.10.252
        cap_add:
            - NET_ADMIN
        depends_on:
            - ned
            # - robb
            - arya
        command: >
            sh -c "ip addr flush dev eth0 && dhclient -v eth0 && sleep infinity"

    jon:
        build: ./cliente
        container_name: jon
        hostname: jon
        networks:
            dhcp_lab:
                ipv4_address: 192.168.10.12
        # dns: 192.168.10.252
        cap_add:
            - NET_ADMIN
        command: >
            sh -c "ip addr flush dev eth0 && dhclient -v eth0 && sleep infinity"

        depends_on:
            - ned
            # - robb
            - arya

    sansha:
        build: ./cliente
        container_name: sansha
        hostname: sansha
        networks:
            dhcp_lab:
                ipv4_address: 192.168.10.13
        # dns: 192.168.10.252
        cap_add:
            - NET_ADMIN
        command: >
            sh -c "ip addr flush dev eth0 && dhclient -v eth0 && sleep infinity"
        depends_on:
            - ned
            # - robb
            - arya

    lanister-cliente:
        build: ./cliente
        container_name: jolanister-clienten
        hostname: lanister-cliente
        networks:
            red-lannister:
                ipv4_address: 192.168.11.100
        # dns: 192.168.10.252
        cap_add:
            - NET_ADMIN
        command: >
            sh -c "ip addr flush dev eth0 && dhclient -v eth0 && sleep infinity && ip route delete default"
        depends_on:
            - ned
            # - robb
            - arya

networks:
    dhcp_lab:
        driver: bridge
        ipam:
            config:
                - subnet: 192.168.10.0/24
    red-lannister:
        driver: bridge
        ipam:
            config:
                - subnet: 192.168.11.0/24
    red-vbox:
        driver: bridge
        ipam:
            config:
                - subnet: 192.168.54.0/24
    wan:
        driver: bridge
        ipam:
            config:
                - subnet: 192.0.2.0/24

# Crear named volumes para gestionar la persistencia de los logs
volumes:
    ned_logs:
        name: "ned_logs"
