services:
  # Modelo contendor para un servidor kea
  # kea:
  #   build: ./kea
  #   container_name: kea
  #   networks:
  #     dhcp_lab:
  #       ipv4_address: 192.168.10.2
  #   cap_add:
  #     - NET_ADMIN
  #   restart: unless-stopped

  # Servidores DHCP
  ned:
    build: ./kea
    container_name: ned
    hostname: ned
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.254
    # dns: 192.168.10.252
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

    volumes:
      - ./kea/kea-dhcp4.conf.jsonc:/etc/kea/kea-dhcp4.conf
      # - ./ned/dhcp:/var/lib/dhcp

  robb:
    build: ./kea
    container_name: robb
    hostname: robb
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.253
    # dns: 192.168.10.252
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

    volumes:
      - ./kea/kea-dhcp4.conf.jsonc:/etc/kea/kea-dhcp4.conf

  # Servidor DNS
  arya:
    build: ./bind
    container_name: arya
    hostname: arya
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.252
    dns: 127.0.0.1
    command: ["-4", "-g"]
    volumes:
      - ./arya/named.conf.options:/etc/bind/named.conf.options
      - ./arya/named.conf.local:/etc/bind/named.conf.local
      - ./arya/zones/db.stark.lan:/etc/bind/zones/db.stark.lan
      - ./arya/zones/db.192.168:/etc/bind/zones/db.192.168
    restart: unless-stopped

  # Clientes DHCP
  bran:
    build: ./cliente
    container_name: bran
    hostname: bran
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.11
    # dns: 192.168.10.252
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  jon:
    build: ./cliente
    container_name: jon
    hostname: jon
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.12
    # dns: 192.168.10.252
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  sansha:
    build: ./cliente
    container_name: sansha
    hostname: sansha
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.13
    # dns: 192.168.10.252
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

networks:
  dhcp_lab:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24
