services:
  # Modelo contendor para un servidor kea
  # kea:
  #   build: ./kea
  #   container_name: kea
  #   networks:
  #     dhcp_lab:
  #       ipv4_address: 192.168.10.2
  #   cap_add:
  #     - NET_ADMIN
  #   restart: unless-stopped

  # Servidores DHCP
  ned:
    build: ./kea
    container_name: ned
    hostname: ned
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.254
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

    volumes:
      - ./kea/kea-dhcp4.conf:/etc/kea/kea-dhcp4.conf

    robb:
      build: ./kea
      container_name: robb
      hostname: robb
      networks:
        dhcp_lab:
          ipv4_address: 192.168.10.253
      cap_add:
        - NET_ADMIN
      restart: unless-stopped

      volumes:
        - ./kea/kea-dhcp4.conf:/etc/kea/kea-dhcp4.conf

  # Servidor DNS
  arya:
    build: ./aria
    container_name: aria
    hostname: aria
    networks:
      dhcp_lab:
        ipv4_address: 192.168.10.252
    restart: unless-stopped

  # Clientes DHCP
  bran:
    build: ./cliente
    container_name: bran
    hostname: bran
    networks:
      dhcp_lab:
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  jon:
    build: ./cliente
    container_name: jon
    hostname: jon
    networks:
      dhcp_lab:
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  sansha:
    build: ./cliente
    container_name: sansha
    hostname: sansha
    networks:
      dhcp_lab:
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

networks:
  dhcp_lab:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24
